
:root
{
--Light-red: hsl(0, 100%, 67%);
--Orange-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue: hsl(241, 81%, 54%);
--Violet-blue: hsla(256, 72%, 46%, 1);
--Persian-blue: hsla(241, 72%, 46%, 0);

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}
:-webkit-any(article,aside,nav,section) h1 { font-size: 1.5em; }
*
{
    padding: 0; 
    margin: 0; 
    box-sizing:border-box;
    font-family: "Hanken Grotesk", sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    min-height: 130vh;
    background-color: paleblue;

}
.container
{
    box-shadow: var(--Pale-blue) 0px 3px 8px;
    border-radius: 27px;
}
.card
{
    display: flex;
    justify-content: space-between;
}
.results
{
    min-width: 308px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 1rem;
    max-width: 50%;
    border: 0px solid;
    border-radius: 27px;
    background:linear-gradient(var(--Light-slate-blue),var(--Light-royal-blue));
}
.heading
{
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
.results .bubble
{
    color: white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(var(--Violet-blue),var(--Persian-blue));
}
.bubble h1
{
    font-size: 3.5em;
}
.comment
{
    color: white;
    margin-bottom: 10px;
}
.outof100
{
    font-size: 15px;
    color: var(--Light-lavender);
}
.results .text
{
    margin-bottom: 20px;
    width: 250px
}
.text
{
    color: var(--Pale-blue);
    opacity: 0.7;
}
.summary
{
    height: 65vh;
    min-width: 309px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    font-size: 14px;
}
.smry
{
    color: var(--Dark-gray-blue);
    margin-right: 122px;
    padding-top: 10px;
}
.reaction,.memory,.verbal,.visual
{
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;
    height: 45px;
}
.rtn,.mmry
{
    margin-right: 50px;
}
.vrbl,.vsl
{
    margin-right: 58px;
}
.rtn
{
    color:hsla(0, 100%, 67%,1);
}
.mmry
{
    color:hsla(39, 100%, 56%,1);
}
.vrbl
{
    color:hsla(166, 100%, 37%,1);  
}
.vsl
{
    color:hsla(234, 85%, 45%,1);
}
.reaction
{
    background:hsla(0, 100%, 67%,0.06);
}
.memory
{
    background:hsla(39, 100%, 56%,0.06);
}
.verbal
{
    background:hsla(166, 100%, 37%,0.06);
}
.visual
{
    background:hsla(234, 85%, 45%,0.06);
}
.of100
{
    color: var(--Green-teal);
    opacity: 0.9;
}
button
{
    border:0px solid;
    background-color:var(--Dark-gray-blue);
    border-radius: 50px;
    margin-top: 10px;
    width: 220px;
    height: 45px;
    color:var(--White);
    font-size: 15px;
}
button:hover
{
    background:linear-gradient(var(--Light-slate-blue),var(--Light-royal-blue));
}
.attributes
{
    padding-top: 20px;
}